
<header>
<nav class="grey darken-1">
	<div class="container">
    <div class="nav-wrapper ">
      <a href="/" class="brand-logo"><i class="large material-icons left">computer</i> Articles |</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved-articles">Saved Articles</a></li>
        <li><a href="/scrape" class="waves-effect waves-light btn blue darken-4">Scrape New Articles <i class="material-icons right">find_in_page</i></a></li>
        <li><a href="/scrape"></a></li>
      </ul>
    </div>
</div>
  </nav>
</header>
